@page
@using Microsoft.AspNetCore.Mvc.Localization
@using SAO.Localization
@using SAO.Web.Pages.ImporExports
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using SAO.ImporExports;
@using System.Globalization
@inject IHtmlLocalizer<SAOResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/ImporExports/EditModal" autocomplete="off">
    <abp-modal  size="ExtraLarge" id="ImporExportEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>

                    <abp-input asp-for="Id" />
            <abp-row>
                <abp-column size="_4">
                    <abp-input asp-for="ImporExport.NoPermiso" />
                </abp-column>

                <abp-column size="_4">
                      <abp-input asp-for="ImporExport.FechaEmision" type="date" />
                </abp-column>

                <abp-column size="_4">
                    <abp-input asp-for="ImporExport.FechaSolicitud" type="date" />
                </abp-column>

            </abp-row>

            <abp-row>
                <abp-column size="_4">
                    <abp-select asp-for="ImporExport.PermisoDe" asp-items="Model.TipoPermisoLookupListRequired" label="@L["PermisoDe"].Value" />
                </abp-column>

                <abp-column size="_4">
                    <div class="form-group">
                        <label for="ImporExport_ImportadorId">@L["Importador"]*</label>
                         <select id="ImporExport_ImportadorId"
                                class="custom-select form-control"
                                name="ImporExport.ImportadorId"
                                data-value="@Model.ImporExport.ImportadorId" required>
                                @*data-value="@Model.ImporExport.ImportadorId">*@
                      
                            @if (Model.Importador!= null)
                            {
                                <option value="@Model.ImporExport.ImportadorId">@Model.Importador.NombreImportador</option>
                            }
                         </select>
                    </div>

                </abp-column>

                <abp-column size="_4">
                    <div class="form-group">
                        <label for="ImporExport_ExportadorId">@L["Exportador"]*</label>
                        <select id="ImporExport_ExportadorId"
                                class="custom-select form-control"
                                name="ImporExport.ExportadorId" 
                                data-value="@Model.ImporExport.ExportadorId" required>

                            @if (Model.Exportador != null)
                            {
                                <option value="@Model.ImporExport.ExportadorId">@Model.Exportador.NombreExportador</option>
                            }


                        </select>
                    </div>
                </abp-column>
            </abp-row>

            <abp-row>

                <abp-column size="_4">
                    <div class="form-group">
                        <label for="ImporExport_ProductoId">@L["Producto"]*</label>
                        <select id="ImporExport_ProductoId"
                                class="custom-select form-control"
                                name="ImporExport.ProductoId"
                                data-value="@Model.ImporExport.ProductoId" required>

                            @if (Model.Producto != null)
                            {
                                <option value="@Model.ImporExport.ProductoId">@Model.Producto.NombreComercia</option>
                            }


                        </select>
                    </div>
                </abp-column>

                <abp-column size="_4">
                    <abp-select asp-for="ImporExport.UnidadMedidaId" asp-items="Model.UnidadMedidaLookupListRequired" label="@L["UnidadMedida"].Value" />
                </abp-column>

                <abp-column size="_4">
                    <abp-select asp-for="ImporExport.TipoEnvaseId" asp-items="Model.TipoEnvaseLookupListRequired" label="@L["TipoEnvase"].Value" />
                </abp-column>
            </abp-row>

            <abp-row>
                <abp-column size="_4">
                    <abp-input asp-for="ImporExport.PesoUnitario" id="PesoUnitario" onchange="PesoNeto()" />
                </abp-column>

                <abp-column size="_4">
                    <abp-input asp-for="ImporExport.CantEnvvase" id="CantEnvase" onchange="PesoNeto()" />
                </abp-column>

                <abp-column size="_4">
                    <abp-input asp-for="ImporExport.PesoNeto" disabled />
                </abp-column>
            </abp-row>

            <abp-row>
                <abp-column size="_4">
                    <abp-select asp-for="ImporExport.PaisProcedenciaId" asp-items="Model.PaisLookupList" label="@L["PaisProcedencia"].Value" />
                </abp-column>

                <abp-column size="_4">
                    <abp-select asp-for="ImporExport.PuertoEntradaId" asp-items="Model.PuertoEntradaSalidaLookupList" label="@L["PuertoEntrada"].Value" />
                </abp-column>

                <abp-column size="_4">
                    <abp-select asp-for="ImporExport.PuertoSalidaId" asp-items="Model.PuertoEntradaSalidaLookupList" label="@L["PuertoSalida"].Value" />
                </abp-column>
            </abp-row>


            <abp-row>
                <abp-column size="_4">
                    <abp-select asp-for="ImporExport.PaisDestinoId" asp-items="Model.PaisLookupList" label="@L["PaisDestino"].Value" />
                </abp-column>

                <abp-column size="_4">
                    <abp-select asp-for="ImporExport.AlmacenId" asp-items="Model.AlmacenLookupList" label="@L["Almacen"].Value" />
                </abp-column>

                <abp-column size="_4">
                    <abp-select asp-for="ImporExport.PaisOrigenId" asp-items="Model.PaisLookupList" label="@L["PaisOrigen"].Value" />
                </abp-column>
            </abp-row>

            <abp-row>
                <abp-column size="_4">
                    <abp-input asp-for="ImporExport.NoFactura" />
                </abp-column>

                <abp-column size="_4">
                    <abp-input asp-for="ImporExport.EsRenovacion" />
                </abp-column>
            </abp-row>

            <abp-row>
                <abp-column size="_4">
                    <div class="form-group">
                        <label for="ImporExport_PermisoRenov">@L["PermisoRenov"]</label>
                        <select id="ImporExport_PermisoRenov"
                                class="custom-select form-control"
                                name="ImporExport.PermisoRenov"
                                data-value="@Model.ImporExport.PermisoRenov" disabled>


                            

                            @if (Model.ImporExport.PermisoRenov != null)
                            {
                                <option value="@Model.ImporExport.PermisoRenov">@Model.ImporExport.PermisoRenov</option>
                            }


                        </select>
                    </div>
                </abp-column>

                <abp-column size="_8">
                    <abp-input asp-for="ImporExport.Observaciones" text-area  />
                </abp-column>

            </abp-row>

            
            <abp-input asp-for="ImporExport.Estado" disabled hidden />


                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

 <script>
    $('#ImporExport_EsRenovacion').click(function () {
        if ($(this).is(':checked')) {
            $('#ImporExport_PermisoRenov').prop("disabled", false);
            //$('#ImporExport_Observaciones').prop("disabled", false);
            

        }
        else
            { 
            $('#ImporExport_PermisoRenov').prop("disabled", true);
            $('#ImporExport_PermisoRenov').empty();
            //$('#ImporExport_Observaciones').prop("disabled", true);
            //$('#ImporExport_Observaciones').val('');
        }
    });


    function PesoNeto() {

        var PesoUni = document.getElementById("PesoUnitario").value;
        var Cant = document.getElementById("CantEnvase").value;
        var PesoNeto = 0;

        PesoNeto = PesoUni * Cant;
     
        var numeroFormateado = numberWithCommas(PesoNeto);

        $('#ImporExport_PesoNeto').val(numeroFormateado);

    }


    function numberWithCommas(numero) {
        const numeroFormateado = numero.toFixed(2);
        const partes = numeroFormateado.split(".");
        const parteEntera = partes[0];
        const parteDecimal = partes[1];
        const parteEnteraFormateada = parteEntera.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        const numeroFinal = parteEnteraFormateada + "." + parteDecimal;
        return numeroFinal;

    }

    $('#ImporExport_PermisoRenov').change(function() {
 
        var select = document.getElementById("ImporExport_PermisoRenov");
        var texto = select.options[select.selectedIndex].text;
        var permiso = document.getElementById("ImporExport_NoPermiso").value;
        
        if (texto == permiso){
            alert ("El numero de Permiso a renovar, no puede ser igual al No. de Permiso actual" )
            $('#ImporExport_PermisoRenov').focus();
        }
        
        
    })
    
      
</script>