@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using SAO.Permissions
@using SAO.Web.Pages.ImporExports
@using SAO.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using SAO.Localization
@inject IHtmlLocalizer<SAOResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["ImporExports"].Value;
    PageLayout.Content.MenuItemName = SAOMenus.ImporExports;
}

@section scripts
{
    <abp-script src="/Pages/ImporExports/index.js" />
}

@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(SAOPermissions.ImporExports.Create))
    {
        <abp-button id="NewImporExportButton" text="@L["NewImporExport"].Value" icon="plus" size="Small" button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="NoPermisoFilter" label="@L["NoPermiso"].Value" />
            </abp-column>
            <abp-column size="_3" hidden>
                <abp-input asp-for="FechaEmisionFilterMin" label="@L["MinFechaEmision"].Value" type="date"/>
            </abp-column>
            <abp-column size="_3" hidden>
                <abp-input asp-for="FechaEmisionFilterMax" label="@L["MaxFechaEmision"].Value" type="date"/>
            </abp-column>
             <abp-column size="_3">
               <abp-input asp-for="FechaSolicitudFilterMin" label="@L["MinFechaSolicitud"].Value" type="date"/>
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="FechaSolicitudFilterMax" label="@L["MaxFechaSolicitud"].Value" type="date" />
            </abp-column>
            <abp-column size="_3" hidden>
                <abp-input asp-for="PesoNetoFilterMin" label="@L["MinPesoNeto"].Value"/>
            </abp-column>
            <abp-column size="_3" hidden>
                <abp-input asp-for="PesoNetoFilterMax" label="@L["MaxPesoNeto"].Value" />
            </abp-column>
            <abp-column size="_3" hidden>
                <abp-input asp-for="PesoUnitarioFilterMin" label="@L["MinPesoUnitario"].Value" />
            </abp-column>
            <abp-column size="_3" hidden>
                <abp-input asp-for="PesoUnitarioFilterMax" label="@L["MaxPesoUnitario"].Value" />
            </abp-column>
            <abp-column size="_3" hidden>
                <abp-input asp-for="CantEnvvaseFilterMin" label="@L["MinCantEnvvase"].Value" />
            </abp-column>
            <abp-column size="_3" hidden>
                <abp-input asp-for="CantEnvvaseFilterMax" label="@L["MaxCantEnvvase"].Value" />
            </abp-column>
            <abp-column size="_3" hidden>
                <abp-input asp-for="NoFacturaFilter" label="@L["NoFactura"].Value" />
            </abp-column>
            <abp-column size="_3" hidden>
                <abp-input asp-for="ObservacionesFilter" label="@L["Observaciones"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="EsRenovacionFilter" label="@L["EsRenovacion"].Value" />
            </abp-column>
            <abp-column size="_3" hidden>
                <abp-select asp-for="EstadoFilter" label="@L["Estado"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="ImportadorIdFilter" label="@L["Importador"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="ExportadorIdFilter" label="@L["Exportador"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="ProductoIdFilter" label="@L["Producto"].Value" />
            </abp-column>
            <abp-column size="_3" hidden>
                <abp-select asp-for="UnidadMedidaIdFilter" label="@L["UnidadMedida"].Value" />
            </abp-column>
            <abp-column size="_3" hidden>
                <abp-select asp-for="TipoEnvaseIdFilter" label="@L["TipoEnvase"].Value" />
            </abp-column>
            <abp-column size="_3"hidden>
                <abp-select asp-for="PuertoEntradaIdFilter" label="@L["PuertoEntrada"].Value" />
            </abp-column>
            <abp-column size="_3" hidden>
                <abp-select asp-for="PuertoSalidaIdFilter" label="@L["PuertoSalida"].Value" />
            </abp-column>
            <abp-column size="_3" hidden>
                <abp-select asp-for="PaisProcedenciaIdFilter" label="@L["PaisProcedencia"].Value" />
            </abp-column>
            <abp-column size="_3" hidden>
                <abp-select asp-for="PaisDestinoIdFilter" label="@L["PaisDestino"].Value" />
            </abp-column>
            <abp-column size="_3" hidden>
                <abp-select asp-for="PaisOrigenIdFilter" label="@L["PaisOrigen"].Value" />
            </abp-column>
            <abp-column size="_3" hidden>
                <abp-select asp-for="AlmacenIdFilter" label="@L["Almacen"].Value" />
            </abp-column>
            <abp-column size="_3" hidden>
                <abp-select asp-for="PermisoRenovFilter" label="@L["PermisoRenov"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="PermisoDeFilter" label="@L["PermisoDe"].Value" />
            </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="ImporExportsTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["NoPermiso"]</th>
					<th>@L["FechaEmision"]</th>
                    <th>@L["PermisoDe"]</th>
					<th>@L["FechaSolicitud"]</th>
                    <th>@L["Importador"]</th>
                    <th>@L["Exportador"]</th>
                    <th>@L["Producto"]</th>
					<th>@L["PesoNeto"]</th>
                    <th>@L["PesoUnitario"]</th>
                    <th>@L["CantEnvvase"]</th>
                    <th>@L["UnidadMedida"]</th>
                    <th>@L["TipoEnvase"]</th>
                    <th>@L["PaisProcedencia"]</th>
                    <th>@L["PuertoEntrada"]</th>
                    <th>@L["PuertoSalida"]</th>
                    <th>@L["PaisDestino"]</th>
                    <th>@L["Almacen"]</th>
                    <th>@L["PaisOrigen"]</th>
					<th>@L["NoFactura"]</th>
					<th>@L["Observaciones"]</th>
					<th>@L["EsRenovacion"]</th>
					<th>@L["Estado"]</th>
					<th>@L["PermisoRenov"]</th>
					
				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>