@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using SAO.Permissions
@using SAO.Web.Pages.Exportadors
@using SAO.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using SAO.Localization
@inject IHtmlLocalizer<SAOResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Exportadors"].Value;
    PageLayout.Content.MenuItemName = SAOMenus.Exportadors;
}

@section scripts
{
    <abp-script src="/Pages/Exportadors/index.js" />
}

@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(SAOPermissions.Exportadors.Create))
    {
        <abp-button id="NewExportadorButton" text="@L["NewExportador"].Value" icon="plus" size="Small" button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="NombreExportadorFilter" label="@L["NombreExportador"].Value" />
            </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="ExportadorsTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["NombreExportador"]</th>

				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>