@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using SAO.Permissions
@using SAO.Web.Pages.CuotaImportadors
@using SAO.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using SAO.Localization
@inject IHtmlLocalizer<SAOResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["CuotaImportadors"].Value;
    PageLayout.Content.MenuItemName = SAOMenus.CuotaImportadors;
}

@section scripts
{
    <abp-script src="/Pages/CuotaImportadors/index.js" />
}

@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(SAOPermissions.CuotaImportadors.Create))
    {
        <abp-button id="NewCuotaImportadorButton" text="@L["NewCuotaImportador"].Value" icon="plus" size="Small" button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="AñoFilterMin" label="@L["MinAño"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="AñoFilterMax" label="@L["MaxAño"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="CuotaFilterMin" label="@L["MinCuota"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="CuotaFilterMax" label="@L["MaxCuota"].Value" />
            </abp-column>
                <abp-column size="_3">
                    <label for="Importador_Filter_NombreImportador">@L["Importador"]</label>
                    <div class="input-group mb-3 mt-2">
                        <input hidden id="ImportadorIdFilter" />
                        <input type="text" id="Importador_Filter_NombreImportador" class="form-control" disabled>
                        <abp-button button-type="Info" id="ImportadorFilterLookupOpenButton" class="text-light">@L["Pick"]</abp-button>
                        <abp-button button-type="Danger" class="lookupCleanButton ms-1"><i class="fa fa-times"></i></abp-button>
                    </div>
                </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="CuotaImportadorsTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["Año"]</th>
					<th>@L["Cuota"]</th>
					<th>@L["Importador"]</th>
				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>